SUPABASE_URL=https://zdpldbavxwxowpcwhdzw.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InpkcGxkYmF2eHd4b3dwY3doZHp3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzU1NTI5NjMsImV4cCI6MjA5MTEyODk2M30.1n4yJ4bLEg6c2quO9WShv-duVsqrg1qikcTckXcL6xA
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InpkcGxkYmF2eHd4b3dwY3doZHp3Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NTU1Mjk2MywiZXhwIjoyMDkxMTI4OTYzfQ.UNcA_UuiElIc6fpCNw4XmQBdFma-s7vgrtvGR8zrDB0
DATABASE_URL="postgresql://postgres.zdpldbavxwxowpcwhdzw:Okdeptrai99@@aws-1-ap-northeast-1.pooler.supabase.com:6543/postgres?pgbouncer=true"
DIRECT_URL="postgresql://postgres.zdpldbavxwxowpcwhdzw:Okdeptrai99@@aws-1-ap-northeast-1.pooler.supabase.com:5432/postgres"
PORT=3000

# Price APIs
VNSTOCK_API_KEY=vnstock_785963356836ce8f267b998be4584b95
COINGECKO_BASE_URL=https://api.coingecko.com/api/v3